# ***Scalar Python Course***
Welcome to my notes.

This Notebook contains all my notes which i took while completing a certififcation at [Scalar](https://www.scaler.com/topics/course/python-for-beginners).

I have posted about my Experience with the course and how it could be made better at [LinkedIn](https://), Make Sure To Check it Out


## Fundamentals

In [ ]:
print("Hello World") #printing to console
global_var = "this is defined in the 1st cell of the notebook " # avoid it its an example for later on.

Hello World

In [ ]:
x = 10 # Variables (naming)
_x = 20
print("x = ", x, "_x = ",_x)

x =  10 _x =  20

<p>Python follows a stack and heap memory model. where main memory has two further memories known as stack and heap memory. Stack contains the variable names and heap here is a huge data dump which has the value for the variables. stack and heap are linked via references (like pointer but not pointer).</p>
<br><p>
Id function returns the address of the data within the memory
</p>

In [ ]:
x = 10
x1 = 10
print("id x = ",id(x),"id x1 = ",id(x1))

id x =  10758024 id x1 =  10758024

<p>Python Comments</p>

In [ ]:
# <--- is used to enter a comment and will not be read as python code.

### Data Types in Python

there are 5 datatypes in python
 <ul>
<li>Integers</li>
<li>Floats</li>
<li>Strings</li>
<li>Boleans</li>
<li>None</li>
</ul></p>

In [ ]:
#integer
a = 5
print ("a", type(a), a)
#Boolean
b = False
print ("b", type(b), b)
#Float
c = 5.8
print ("c", type(c), c)
#String
d = "This is a String Variable"
print ("d", type(d), d)
e = """This is a multiline String Variable"""
print ("e", type(e), e)
#None
f = None
print ("f", type(f), f)
f = 1.03
print ("f", type(f), f)
f = "str"
print ("f", type(f), f)

a <class 'int'> 5
b <class 'bool'> False
c <class 'float'> 5.8
d <class 'str'> This is a String Variable
e <class 'str'> This is a multiline String Variable
f <class 'NoneType'> None
f <class 'float'> 1.03
f <class 'str'> str

<p>Input Function<br>All inout is taken or stored as string.</p>

In [ ]:
name = input("Enter name: ")
print ("the input was: ", name)
name = bool(name)
print(type(name), name)

Enter name: 0
the input was:  0
<class 'bool'> True


### Print Function

In [ ]:
var = "a variable"
print ("this", "is", "an example", "for" ,"a", "print", "function", 1,2,3,4,True,var, end = "\n\n")
# Seprator, By default is single space, can be changes
print ("this", "is", "an example", "for" ,"a", "print", "function", 1,2,3,4,True,var, sep="_", end = " ")
print ("this", "is", "an example", "for" ,"a", "print", "function", 1,2,3,4,True,var, sep="/")
#print ("this", "is", "an example", "for" ,"a", "print", "function", 1,2,3,4,True,var, sep="\n")
print("Ali "+"Wali" , "yelo", sep = "\n")

this is an example for a print function 1 2 3 4 True a variable

this_is_an example_for_a_print_function_1_2_3_4_True_a variable this/is/an example/for/a/print/function/1/2/3/4/True/a variable
Ali Wali
yelo

### Operators In Python
<p>Combo of an opertor and operands in an expressions
<br>
for example A + B , where A and B are operands and + is an operator</p>
<h3><strong>Arthematic Operators</strong></h3>

In [ ]:
# Addition, Subtraction, Multiplication, Division, mod(%), Floor Division, To The Power
a = 10
b = 9

print ( "a+b", a+b, "\na-b", a-b,"\na*b", a*b,"\na/b", a/b, "\na//b",a//b,"\n2**3", 2**3, "\na%b", a%b, sep = "    " )
# % is modulus, gives remainder
# // is floor division, the result is rounded to nearest smaller integer
# ** is just to get an exponential answer, 2 rwith exponent 3 is 8

a+b    19
a-b    1
a*b    90
a/b    1.1111111111111112
a//b    1
2**3    8
a%b    1

<h3><strong>Comparison Operators</strong></h3>
<p>their output is always a boolean, either true or false</p>

In [ ]:
# == equals to, != not equal to, > greater then < less then, >= greater then equal too or <= less than equal to
a = 9
b = 8

print ("a is equals to b:",a == b)
print ("a is not equals to b:",a != b)
print ("a is less then b:",a < b)
print ("a is greater then b:",a > b)
print ("a is less then or equals to b:",a <= b)
print ("a is greater then or equals to b:",a >= b)

c = "a string"
c_1 = "a string"
d = "b string"

print (c == c_1)
print (c == d)
print (c > d)

a is equals to b: False
a is not equals to b: True
a is less then b: False
a is greater then b: True
a is less then or equals to b: False
a is greater then or equals to b: True
True
False
False

<h3><strong>Assignment Operators</strong></h3>
<p>Assigning something(data) to something(a variable)</p>

In [ ]:
# = , -=, +=, *=, /=
a = 2
b = 3
a -= b
print ("a -= b", a)
a = 2
a += b
print ("a += b", a )
a = 2
a *= b
print ("a *= b", a )
a = 2
a /= b
print ("a /= b", round(a,3) ) # for rounding upto 3 decimal places

a -= b -1
a += b 5
a *= b 6
a /= b 0.667

<h3><strong>Logical Operators</strong></h3>
<p>and or not <br> used in conditional statments, return true/flase based on the condition. </p>
<p>works just like in truth tables, input either true of false, based on input result will be descided</p>

In [ ]:
a = True
b = False
c = True
d = False
print ( a and b )
print ( a and not b)
print ( not (a and b))
print ( a and c)
print ( a or b)
print ( c or d)
print ( b or d)
print ( not a)
print ( not b)
print ( a and not b)

False
True
True
True
True
True
False
False
True
True

<h3><strong>Special Operators</strong></h3>
<p>in opertor ( membership ) <br> is operator </p>

In [ ]:
# in tells if an object is a part of another object or not

In [ ]:
name = "this is an example"
print ( "it" in name)
print ( "is" in name)
print ( "an example" in name)
print ( "example" in name)

False
True
True
True

In [ ]:
# is tells if two object are at a same memory location or not
a = 5
c = 5
b = 6

print ( id(a), id(c), id(b))
print ( a is c)
print ( a is b)

10757864 10757864 10757896
True
False

## Control FLow Statements
          Application of conditional operators to manipluate the flow of the code or program.
          Making Conditional Decisions

In [ ]:
# if [condition]:
#   is ture then this part is executed
# else :
#   otherwise this part gets executed or
# elif [condition]:
#   adds another condition to check, only works if condition is true, unlike else where it alays words when the condition given at if is false

age = int(input("Enter Your Age"))

if age <= 18:
  print("Jerk it off")
else:
  print("dont jerk it")

Enter Your Age18
Jerk it off

### Challenge 1
<p>Find Maximum in a list</p>
<ul>
<li>Given Marks of Students in a class. Find the topper</li>
<li>Consider list in non empty</li>
</ul>

In [ ]:
marks = [90,30,100,50,80,95]
topper = marks[0]
for mark in marks:
  if topper < mark:
    topper = mark
print(topper)

100

### Challenge 2
<p>Grading System</p>
<ul>
<li>A :mark equal or greater than 90 </li>
<li>B :marks equal to 80 and less then 90 </li>
<li>C :marks equal to 70 and less then 80 </li>
<li>D :marks equal to 60 and less then 70 </li>
<li>E :marks les then 60 </li>
</ul>

In [ ]:
marks = int(input("Enter Marks Obtained, for Grading: "))
if marks >= 90 and marks <=100:
  print(" Grade A ")
elif marks >= 80 and marks < 90:
  print(" Grade B ")
elif marks >= 70 and marks < 80:
  print(" Grade C ")
elif marks >= 60 and marks < 70:
  print(" Grade D ")
elif marks < 60:
  print(" Grade E ")
else:
  print("Invalid")

Enter Marks Obtained, for Grading: 99
 Grade A

## Loops



      1.   For
      2.   While

In [ ]:
# while is used when number of ietrations is not known, or fixed. We declare a condition, design loop body, and add a loop counter which we need to manually update to keep the loop finite
i = 1

while i < 10: # repeats while the condition remains true, quits as soon as condition falsifies
  for j in range(i):
    print("*", end=" ")
  print("\n")
  i += 1 # the value needs to update to make the loop end at some point

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

* * * * * * * *

* * * * * * * * *

In [ ]:
#print numbers 1 - to - 10

i = 0
while i < 10:
  print (i + 1, end = " ")
  i += 1

1 2 3 4 5 6 7 8 9 10

In [ ]:
#even numbers
print ("Even Numbers: ")
i = 1
while i <= 10:
  if i % 2 == 0:
    print (i, end = " ")
  i += 1

print ("\nOdd Numbers: ")
i = 1
while i <= 10:
  if i % 2 != 0:
    print (i, end = " ")
  i += 1

Even Numbers:
2 4 6 8 10
Odd Numbers:
1 3 5 7 9

In [ ]:
# sum of given numbers
x = range(11) # 11 is not included in the range, it is the stopping point, will generate a series of numbers which is iterateable.
sum = 0
i = 0
while i in x:
  sum += i
  i += 1
print (sum)
print (x)

55
range(0, 11)

In [ ]:
#range function
# range(start,end,jump/step)
# range(x) <-- means range(end), will go untill the number given
x = range(5)
print (x)
# x = [0, 1, 2, 3, 4]
# be default start is 0
print(list(x))

# if 2 parameters are given 1st becomes start, second becomes end
y = range(101, 105)
print (y)
print (list(y))
# notes that start is included in the range
# end is always excluded

range(0, 5)
[0, 1, 2, 3, 4]
range(101, 105)
[101, 102, 103, 104]

In [ ]:
#print evens from 1-10 via range
for i in range(2,11,2):
  print (i, end = " ")

#print odds from 1-10 via range
print ("\n")
for i in range(1,11,2):
  print (i, end = " ")

2 4 6 8 10

1 3 5 7 9

In [ ]:
#iterator, iterable, iteration
# iterator --> the one performing the iteration
# iterable --> the one on whom the iteration is being performed
# iteration --> the repetative process, each time it repeats is a iteration
# is useful in for loops
# for iterator in iterable:
#   loop body comes here

# iterator: i
# iterable: range()
for i in range(1,10):
  print (i, end =" ")

1 2 3 4 5 6 7 8 9

In [ ]:
#Multiplication table of x -->input
x = int(input("Enter number for Table : "))

for i in range(1,11):
  print (x, "*", i, "=", x*i)

Enter number for Table : 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [ ]:
# pattern sqaure block of size n
n = int (input ("Enter size of square: "))

for i in range (n):
  print()
  for i in range (n):
    print("#", end=" ")

Enter size of square: 4

# # # #
# # # #
# # # #
# # # #

In [ ]:
# print a pattern a triangle of size n( increases a hash with each increment)
n = int (input ("Enter size of triangle:  "))

for i in range(n):
  print()
  for x in range(i+1):
   print("#", end =" ")

Enter size of triangle:  3

#
# #
# # #

In [ ]:
n = int(input("Enter size of triangle: "))
for i in range(n,0,-1):
  for j in range (i,0,-1):
     print("*", end = " ")
  print()

Enter size of triangle: 5
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Break Continue Pass

# these statments alter the flow of a program
# Break: When we break out of a loop, or a conditional statement
# Continue: when we just need to skip a specific iteration
# Pass: to avoid syntax error


for i in range (1,10):
  pass
# pass is just makes the compilor/interpretor ignore the code.

for i in range (1,10):
  if (i == 5):
    continue
  print (i, end = " ")
# continue skips a specfic iteration where i == 5, and continues with rest

print ("\n")
for i in range (1,10):
  if (i == 5):
    break
  print (i, end = " ")
# break just breaks out of the loop when a condition is met.

1 2 3 4 6 7 8 9

1 2 3 4

In [ ]:
for i in range(1, n + 1):
    # Print spaces
    for space in range(n - i):
        print(" ", end="")
    # Print stars
    for star in range(2 * i - 1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********

In [ ]:
n = 5
for i in range (1,n+2,2):
  print(i)

1
3
5

## Strings
<p>Strings are a sequence of characters<br>
Characters can be
            
        1. Alphabets
        2. Numbers
        3. Special Characters
        4. Whtie Spaces

strings can be defined by using

      single, double or triple quotes ' ' " " """ """
      ASCII Codes or UniCodes for Characters
      A-Z 65-90
      a-z 97-122</p>

In [ ]:
a = "string"
b = 'string'
c = """
this is a
multi
line
string
"""
print (type(a))
print (type(b))
print (type(c))

<class 'str'>
<class 'str'>
<class 'str'>

Ord & Chr

In [ ]:
#using ord to decode any character
print("a",ord("a"))
print("z",ord("z"))
print("A",ord("A"))
print("Z",ord("Z"))
print("😍",ord("😍"))

#chr does the reverse

print("97", chr(97))
print("122", chr(122))
print("65", chr(65))
print("90", chr(90))
print("128525", chr(128525))

a 97
z 122
A 65
Z 90
😍 128525
97 a
122 z
65 A
90 Z
128525 😍

### Indexing in a String

In [ ]:
string = "Syed Zeeshan Azhar"
print(string[0])
print(string[-1])#last character or first from the last/right hand side
len(string)
print(string[17])
print(string[-18])

S
r
r
S

### Slicing in a String
find a starting point

find a ending point

to slice

In [ ]:
string = "example"
#starting is included and ending is excluded
print(string[0:3])
print(string[3])
size = len(string)
print(string[0:size:2]) #[start:end:jump]
print(string[::-1]) #[start:end:jump]
print(string[-1:-size-1:-1]) #[start:end:jump]

exa
m
eape
elpmaxe
elpmaxe

###  Methods in Strings



1.  capitalize
2.  title
3.  upper
4.  lower
5.  find
6.  count
7.  index
8.  replace
9.  split
10. islower
11. isupper
12. isnumeric
13. isalpha

In [ ]:
# capitalize(): Capitalizes only the first character of the string and makes the rest lowercase.
exp = "hi marry"
print(exp.capitalize())  # Output: 'Hi marry'

# title(): Capitalizes the first letter of each word in the string.
# Useful for formatting names, titles, or headlines.
print(exp.title())  # Output: 'Hi Marry'

# upper(): Converts the entire string to uppercase.
print(exp.upper())  # Output: 'HI MARRY'

# lower(): Converts the entire string to lowercase.
exp = "MARRY"
print(exp.lower())  # Output: 'marry'
exp = exp.lower()   # Save the lowercase version

# find(): Returns the index of the first occurrence of a substring.
# Returns -1 if the substring is not found.
print(exp.find("ry"))  # Output: 3
print(exp.find("z"))   # Output: -1 (not found)

Hi marry
Hi Marry
HI MARRY
marry
3
-1

In [ ]:
# count(): Counts how many times a substring appears in the string.
# Case-sensitive and counts overlapping substrings as one.
exp = "Marry is a girl"
print(exp.count("r"))     # Output: 2
print(exp.count("is"))    # Output: 1
print(exp.count(" "))     # Output: 3 (spaces)
print(exp.count("x"))     # Output: 0

# index(): Returns the index of the first occurrence of a substring like find(),
# but throws a ValueError if not found. Use when you're sure the substring exists.
print(exp.index("r"))     # Output: 2
# print(exp.index("z"))   # ValueError: substring not found

# replace(): Replaces all occurrences of a substring with another.
# Optional 3rd argument limits how many times replacement happens.
print(exp.replace("r", "R"))      # Output: 'MaRRy is a giRl'
print(exp.replace("r", "R", 1))   # Output: 'MaRry is a girl'

# split(): Splits a string into a list based on a separator (default is space).
# Can split on any character. Returns a list of substrings.
exp = "Marry is a girl"
exp_comma = "Marry,is,a,irl,g"
print(exp.split())          # Output: ['Marry', 'is', 'a', 'girl']
print(exp_comma.split(",")) # Output: ['Marry', 'is', 'a', 'irl', 'g']

3
1
3
0
2
MaRRy is a giRl
MaRry is a girl
['Marry', 'is', 'a', 'girl']
['Marry', 'is', 'a', 'irl', 'g']

In [ ]:

# isupper(): Returns True if all characters in the string are uppercase letters.
exp = "MARRY"
print(f"is upper: {exp} →", exp.isupper())  # True

exp = "marry"
print(f"is upper: {exp} →", exp.isupper())  # False

# islower(): Returns True if all characters are lowercase letters.
exp = "MARRY"
print(f"is lower: {exp} →", exp.islower())  # False

exp = "marry"
print(f"is lower: {exp} →", exp.islower())  # True

# isnumeric(): Returns True if the string contains only numeric characters.
exp = "1234"
print(f"is numeric: {exp} →", exp.isnumeric())  # True

exp = "abc"
print(f"is numeric: {exp} →", exp.isnumeric())  # False

# isalpha(): Returns True if the string contains only alphabetic characters (a–z, A–Z).
exp = "abc"
print(f"is alpha: {exp} →", exp.isalpha())  # True

exp = "1234"
print(f"is alpha: {exp} →", exp.isalpha())  # False

exp = "abc123"
print(f"is alpha: {exp} →", exp.isalpha())  # False (mixed letters + digits)

is upper: MARRY → True
is upper: marry → False
is lower: MARRY → False
is lower: marry → True
is numeric: 1234 → True
is numeric: abc → False
is alpha: abc → True
is alpha: 1234 → False
is alpha: abc123 → False

In [ ]:
text = "   hello world   "

# strip(): Removes leading and trailing whitespace (or specified characters)
print(text.strip())     # Output: 'hello world'

# lstrip(): Removes only leading whitespace
print(text.lstrip())    # Output: 'hello world   '

# rstrip(): Removes only trailing whitespace
print(text.rstrip())    # Output: '   hello world'

# Can also strip custom characters:
text = "///file///"
print(text.strip("/"))  # Output: 'file'

hello world
hello world
   hello world
file

In [ ]:
words = ["leet", "code", "rocks"]
print(" ".join(words))     # Output: 'leet code rocks'
print("-".join(words))     # Output: 'leet-code-rocks'

# Joining characters of a string:
s = "abc"
print(".".join(s))

leet code rocks
leet-code-rocks
a.b.c

<h3>String Formating</h3>
using f print to print a string with variables
or .format to format a string

In [ ]:
name = input()
age = input()

print("My name is {} and my age is {}.".format(name,age))
print("My name is {} and my age is {}.".format(age,name))
print(f"My name is {name} and my age is {age}")

Ali
12
My name is Ali and my age is 12.
My name is 12 and my age is Ali.
My name is Ali and my age is 12

<h3>String Concatenation</h3>
connecting or joining two strings togather is known as string operations.

In [ ]:
first = input()
second = input()
third = first + second
print (third)

ali
haider
ali haider

In [ ]:
third = first * 3
print(third)

print("2" + "10")
print("2" * 10)
# print("2" * "10") --> Type Error, not possible

ali ali ali
210
2222222222

Challenge 1: Print all vowels of a given string

In [ ]:
text = "The Quick brown fox jump on a lazy dog"
text = text.lower()
vowels = ['a','e','i','o','u']
new_text = []

for char in text:
  if char in vowels:
    new_text.append(char)

print (new_text)

# to make it more short and
# text = "The Quick brown fox jump on a lazy dog"
# vowels = [ch for ch in text if ch in "aeiou"]
# known as list comprehension --> used to build list
# goes like [expression for item in ietrable if condition]

['e', 'u', 'i', 'o', 'o', 'u', 'o', 'a', 'a', 'o']

In [ ]:
text = "The Quick brown fox jump on a lazy dog"
vowels = [ch for ch in text if ch in "aeiou" ]
print (vowels)

['e', 'u', 'i', 'o', 'o', 'u', 'o', 'a', 'a', 'o']

Challenge: Check if Pallindrome

In [ ]:
string = input("Enter a word to check for pallindrome: ")
size = len(string)
string_r = string[-1:-size-1:-1]
if string == string_r:
  print("pallindrome")
else:
  print("not a pallindrome")

Enter a word to check for pallindrome: palidndrome
not a pallindrome

In [ ]:
sent1 = """
1
Fear leads to anger anger leads to hatred hatred leads to conflict conflict leads to
suffering
"""
sent2 = "We must indeed all hang together or most assuredly we shall all hang separately"


sent1 = sent1.replace(".", " ")
sent2 = sent2.replace(".", " ")
sent1 = sent1.replace(":", " ")
sent2 = sent2.replace(":", " ")

sent_1 = sent1.lower().split()
sent_2 = sent2.lower().split()

sent_1_size = len(sorted(set(sent_1)))
sent_2_size = len(sorted(set(sent_2)))
sum = sent_1_size + sent_2_size
print(sum)

19

In [ ]:
def solve(self, A, B):
        stA = A.count()

## Data Structures


a special format followed to

        1. Format
        2. Organize
        3. Process
        4. Store
        5. Reterive Data

Data Strucutes in Python are as follows

        1. Lists
        2. Dictionaries
        3. Sets
        4. Tuples

## Lists

        1. Lists are mutable
        2. Lists are iterable
        3. can store multiple type of data

In [ ]:
# Creating Lists.
# WE can use square brackets to intialize a list.  -->  var = [ ] <-- makes a list named var
# we can also use a function --> var = list.()
# we can access them via indexes
# len(list) returns lenght of the list

var = [1,2,3,4,"5",True,1.22]
# can hold all datatypes at once, as other languages the data structure doesnt has a data type.
txt = "this is a list"
var3 = list(txt) # stores it character by character
var2 = list()
var2.append("".join(txt)) # to store whole string as one list element
print(var)
print(var2)
print(var3)

[1, 2, 3, 4, '5', True, 1.22]
['this is a list']
['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 'l', 'i', 's', 't']

<h3>List Slicing</h3>

similar to string slicing. works the same way when i comes to slicing as it does in strings

In [ ]:
#use the same we of slicing as before
var = [1,2,3,4,5,6]
print(var[1:])

[2, 3, 4, 5, 6]

In [ ]:
print(var[1:3])

[2, 3]

In [ ]:
print(var[::-1])

[6, 5, 4, 3, 2, 1]

<h2>List Methods</h2>

1. count
2. index
3. pop
4. remove
5. sort
6. insert
7. append
8. extend

In [ ]:
numbers = [0,1,3,5,6,9]
print(numbers.count(8))

# returns the number of ouccurences of an element in a list.

0

In [ ]:
numbers = [0,1,3,5,6,9]
print(numbers.index(6))
# returns the index of an element in the list. for example integer 6 is on index 4, it returns 4

4

In [ ]:
numbers = [0,1,3,5,6,9]
print(numbers.pop()) # removes the last index from the list.
numbers = [0,1,3,5,3,3,9]
print(numbers.remove(3)) # removes 3 from the list but doesnt print it, instead returns None. used to remove any specific numbers first occurence from the list
print(numbers)

9
None
[0, 1, 5, 3, 3, 9]

In [ ]:
numbers = [9,3,1,4,6,7,3,5,7,8,756,45,0]
print(".......... Defalut ..........\n",numbers)
# sort works to sort an array and return None. It sorts an array is asscending order be dafult. use reverse flag to sort descending.

numbers.sort(reverse=True) # Decending Order largest to smallest
print("\n.......... Decending ..........\n",numbers)

numbers = [9,3,1,4,6,7,3,5,7,8,756,45,0]
numbers.sort() # Ascending Order  smallest to largest
print("\n.......... Ascending ..........\n",numbers)

.......... Defalut ..........
 [9, 3, 1, 4, 6, 7, 3, 5, 7, 8, 756, 45, 0]

.......... Decending ..........
 [756, 45, 9, 8, 7, 7, 6, 5, 4, 3, 3, 1, 0]

.......... Ascending ..........
 [0, 1, 3, 3, 4, 5, 6, 7, 7, 8, 9, 45, 756]

In [ ]:
numbers = [1,2,3,4,5]
# insert takes two arguments, first the index where to insert an object, and second the object it self.

numbers.insert(1,15)
print(numbers)

numbers.insert(4,'new_object at index 4')
print(numbers)

[1, 15, 2, 3, 4, 5]
[1, 15, 2, 3, 'new_object at index 4', 4, 5]

In [ ]:
numbers = [1,2,3,4,5]
numbers.append(125)
print(numbers) # add to the end of the list.
# falls short when a iterable is passed onto append. it treats it as an object rather then an iterable
# lets say if we add another list to it.
numbers.append([1,2,3,4])
print(numbers,"\t adds the list as a whole object which is present at index[-1]")


#extend takes an iterable and moves through it, adding each elements individually to the list, rather then whole ietrable as a single object.
numbers = [1,2,3,4,5]
numbers.extend([1,2,3,4])
print(numbers) # add to the end of the list.

[1, 2, 3, 4, 5, 125]
[1, 2, 3, 4, 5, 125, [1, 2, 3, 4]]
[1, 2, 3, 4, 5, 1, 2, 3, 4]

<h2>Heterogenous lists</h2>

In [ ]:
# is a list with different types of data types.
lis =  [1,1.1,True,'String',"""This is a string """]
print(f"lis -->   {type(lis)}")
for i in range(len(lis)):
  print(f"{lis[i]} \t-->  {type(lis[i])}")

lis -->   <class 'list'>
1 	-->  <class 'int'>
1.1 	-->  <class 'float'>
True 	-->  <class 'bool'>
String 	-->  <class 'str'>
This is a string  	-->  <class 'str'>

<h2>2D Lists</h2>

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l4 = [l1,l2,l3]
print(l4[0])
print(l4[1])
print(l4[2])

print()
for i in range(len(l4)): # using a loop to access a complete 2d list
  print(f"............. Sub elements of l4[{i}] .............")
  for j in range(len(l4[0])):
    print(l4[i][j],end = "  ")
  print()

l = [[1,2],[3],[[1,12,3],1]] # 3d list

print("\n",l[2][0][2]) # 3d access to the list
l = [[1,2],[3],   [  [1,12,  [3,1] ],  1]  ]
print("\n",l[2][0][2][1]) # 4d access to the list

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

............. Sub elements of l4[0] .............
1  2  3
............. Sub elements of l4[1] .............
4  5  6
............. Sub elements of l4[2] .............
7  8  9

 3

 1

<h2>List Comprehension</h2>

In [ ]:
#use to add data into the list.
lis = [] # lets say we have to add even numbers to the list till range 1000
# we cant add them via hardcoding so we will use a loop

#rather then going with this approach
for i in range(101):
  if i%2 == 0:
    lis.append(i)
  else:
    continue

print(lis)
# we can use list comprehension method.
lis = [i for i in range(101) if i%2 != 0] # will add odd numbers til 101
# the syntax it follows is [expression for item in iterable if condition] <-- not exactly the same, might need to verify it
print(lis)


# [ expression        for item in iterable        if condition ]
#    ^                ^     ^         ^              ^
#    |                |     |         |              |
#  what to do     variable  |     where data     optional filter
#                  name     |       comes from
#                        REQUIRED

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

<h2>Challenge</h2>
<h3>find the Total Population</h3>

given a list of population census, find the total poulation.

each element in the list represents a members in a family

I = [ 4,6,5,8,9,3,2,4,5,4,3,2,3,4 ]

In [ ]:
lis = [4,6,5,8,9,3,2,4,5,4,3,2,3,4]
pop = 0

for i in range(len(lis)):
  pop = pop + lis[i]
print(pop)
# or we can
# print(sum(lis))

62

In [ ]:
nums = int(input("Enter how many numbers you want to enter: "))
lis = (input("Enter a number").split())
rem = int(input("Enter the number to remove"))
lis = [int(lis[i]) for i in range(len(lis))]
for i in range(len(lis)):
  if lis[i] == rem:
    lis[i] = 'r'
lis = ![i for i in range(len(lis)) if i == 'r']

Enter how many numbers you want to enter: 5
Enter a number1 2 3 4 3
Enter the number to remove3

## Tuples

    1. Tuples are like lists but not mutable
    2. We cant change them once created.
    3. They are Iterable
    4. Can be Hetrogenous

In [ ]:
# we can define tuples just like lists but with round brackets
l = ["this", "is", "a", "list"]
t = ("this", "is", "a", "tuple")
print(f"{l} --> {type(l)}")
print(f"{t} --> {type(t)}")

['this', 'is', 'a', 'list'] --> <class 'list'>
('this', 'is', 'a', 'tuple') --> <class 'tuple'>

In [ ]:
# indexing is supported in tuples
print(t[-1])

# slicing is supported
print(t[::-1])

tuple
('tuple', 'a', 'is', 'this')

In [ ]:
# can we change it: no its type error stating assignment does not work with tuples
t.count('This'.lower())
t.index('This'.lower())

0

In [ ]:
# Creating a tupple
t = (1,2,3) # <- is one way of creating it using square brackets
l = [1,2,3]
t1 = tuple(i for i in range(1,10) if i%2 == 0) # <- use any iterable within this function to create a tuple
print(t)
print(t1)
tw = (2,)
print(tw)
t2=tuple("Name")
t3=tuple()
print(t2)
print(t3)

(1, 2, 3)
(2, 4, 6, 8)
(2,)
('N', 'a', 'm', 'e')
()

In [ ]:
# Mutability

t = ([1,2,3] , "string")
t[0].append(4)
print(t)
# t[1] += "ing" will cause a type error
# the reason this happens is the reference to a list doest change after a new assignment
l = [1,2,3]
print(id(l),"-->",l)
l1= ["this", "is", "a", "list"]
l.append(l1)
print(id(l),"-->",l,"\n")

# where as in strings
s = "String"
print(id(s)," --> ",s)

s +="new string"
print(id(s)," --> ",s)

([1, 2, 3, 4], 'string')
139395757479168 --> [1, 2, 3]
139395757479168 --> [1, 2, 3, ['this', 'is', 'a', 'list']]

139397178394992  -->  String
139395769405952  -->  Stringnew string

In [ ]:
#Unpacking Tuples

t = (1,2,3,4,5)
a, b, c, d, e = t
print(a,b,c,d,e)
print(a,d,e,b,c)

# returing a tuple is a way to return multiple variables from a single function

1 2 3 4 5
1 4 5 2 3

In [ ]:
#Tuple Operations
t = (1,1,1,2,3,4)
print(f"count of 1 = {t.count(1)}")
print(f"index of first 1 = {t.index(1)}")
print(f"index of first 2 = {t.index(2)}")

count of 1 = 3
index of first 1 = 0
index of first 2 = 3

In [ ]:
# concatination
t1 = (1,2,3,4)
t2 = tuple(set(t + t1))
print(t2)
print(len(t2))
print(t2 * 2)

(1, 2, 3, 4)
4
(1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
elem = 1
tup = (2,3,4,5,6,7)
if elem in tup:
  print("is")
else:
  print("not")

not

In [ ]:
def odd_even(tup):
    l = []
    l1 = []
    for i in range(len(tup)):
        if i%2==0:
            l.append(tup[i])
        else:
            l1.append(tup[i])
    t1 = tuple(l)
    t2 = tuple(l1)
    print("Odd: ",t1)
    print("Even: ",t2)
tup = (10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
odd_even(tup)

Odd:  (10, 5, 10, 10, 5, 8)
Even:  (8, 2, 15, 8, 8, 2)

In [ ]:
elements = (10, 20, 30, 40, 50, 60, 70, 80)
print(elements[2:5], elements[:4], elements[3:100])

(30, 40, 50) (10, 20, 30, 40) (40, 50, 60, 70, 80)

## Dictionary

      1. Most important data structure in python
      2. has key: value pair form of data
      3. they dont support indexing
      4. data is accessed using keys.
      5. dictinoaries are ordered.

### Creation in Dictionaries

In [ ]:
# in python older versions data within dictonaries was un ordered, it was not stored in the same order it was coded.
# in version above 3.7 it is ordered.

# creation
# we can create a dictonary using curly braces
d = {}
print(d,"is of type -->",type(d))

# we can also use dict()
e = dict()
print(e,"is of type -->",type(e))

{} is of type --> <class 'dict'>
{} is of type --> <class 'dict'>

In [ ]:
# creating a dictonary with data:
d = {
    'key': "value",
    'key2': ["we","can","give","multiple","values","using" ,"a" ,"list"],
    'key3': "all keys must be separated via commas at the end"
}
print(d,"\n")
print(d['key'])
print(d['key2'])
print(d['key3'])

{'key': 'value', 'key2': ['we', 'can', 'give', 'multiple', 'values', 'using', 'a', 'list'], 'key3': 'all keys must be separated via commas at the end'}

value
['we', 'can', 'give', 'multiple', 'values', 'using', 'a', 'list']
all keys must be separated via commas at the end

In [ ]:
# using zip function:
key = ['key','key1','key2']
value = ['value',[1,2,3],["we","can","give","multiple","values","using" ,"a" ,"list"]]
d = dict(zip(key,value))
print(d,"\n")
print(d['key'])
print(d['key1'])
print(d['key2'])

{'key': 'value', 'key1': [1, 2, 3], 'key2': ['we', 'can', 'give', 'multiple', 'values', 'using', 'a', 'list']}

value
[1, 2, 3]
['we', 'can', 'give', 'multiple', 'values', 'using', 'a', 'list']

In [ ]:
# len
print(len(d))
print(len(d['key2']))

3
8

In [ ]:
# Accessing Dictionary Value
# inexing is not possible with dictonaries
# d[0] returns a key error.
d[0]

KeyError: 0

In [ ]:
# t0 access something from a dictinoary we need to use keys
print(d['key']
)
print(d['key1'])
print(d['key2'])

value
[1, 2, 3]
['we', 'can', 'give', 'multiple', 'values', 'using', 'a', 'list']

In [ ]:
# we can use get function to reterive a keys values
print(d.get("key1"))
print(d.get("key_not_in_dict",)) # use get to avoid errors.
print(d.get("key_not_in_dict","return this message if key not found")) # None is replaced by custom msg if key is not found

[1, 2, 3]
None
return this message if key not found

### Updation in Dictionaries

In [ ]:
# Updating a dictionary
# we can update keys:
# we can use update()
fruit = {
    'apple': 120,
    'banana': 100,
    'orange': 150,
}
# print(fruit)


# we can update an exisiting key
fruit['apple'] = {'1kg':180,'2kg':300}
print(fruit['apple'])
print(fruit['apple']['1kg'])
print(fruit['apple']['2kg'])

# we can add a new key
fruit['guava'] = 0

# we can add a new dictonary to exisiting
new = {'leeche':400,'cherry':800,'grapes':200}
fruit.update(new)
fruit

{'1kg': 180, '2kg': 300}
180
300

{'apple': {'1kg': 180, '2kg': 300},
 'banana': 100,
 'orange': 150,
 'guava': 0,
 'leeche': 400,
 'cherry': 800,
 'grapes': 200}

### Deletion In Dictionaries

In [ ]:
# now how to delete data
# we have methods like pop, popitem, del
x ={}
x.update(fruit)
print(f"grapes' in x: {'grapes' in x}")

print("x.pop('grapes') returns:" ,x.pop('grapes')) # once poped the key is gone and no longer in the dictonary
print(f"grapes' in x: {'grapes' in x}")

x.update(fruit)
x.pop('peach','peach not found')

grapes' in x: True
x.pop('grapes') returns: 200
grapes' in x: False

'peach not found'

In [ ]:
# popitem
x.update(fruit)
# pop item removes the last pair in a dictionary and returns the tuple
tup = ()
tup = x.popitem()
print("tup:",tup,"type(tup):",type(tup))
print()
print(x)
#each time x.popitem()

tup: ('grapes', 200) type(tup): <class 'tuple'>

{'apple': {'1kg': 180, '2kg': 300}, 'banana': 100, 'orange': 150, 'guava': 0, 'leeche': 400, 'cherry': 800}

In [ ]:
# del is not dict specific method, i just deletes an object, what every it is
del x
# print(x) now returns a NameError

### Iteration In Dictionaries

In [ ]:
# how to iterate in dictionaries:
# use a loop
for i in new:
  print(f"{i} : {new[i]}")

leeche : 400
cherry : 800
grapes : 200
apple : {'1kg': 180, '2kg': 300}
banana : 100
orange : 150
guava : 150

In [ ]:
# use dict.items()
for key,value in new.items():
  print(f"{key}:{value}")

leeche:400
cherry:800
grapes:200
apple:{'1kg': 180, '2kg': 300}
banana:100
orange:150
guava:150

In [ ]:
# other methods like keys values items
new.keys() # returns all the keys

dict_keys(['leeche', 'cherry', 'grapes', 'apple', 'banana', 'orange', 'guava'])

In [ ]:
new.values() # return all the values

dict_values([400, 800, 200, {'1kg': 180, '2kg': 300}, 100, 150, 150])

In [ ]:
new1 =new.copy() # makes a copy of existing dict
new2 = new
print(f"new id : {id(new)} new1 id : {id(new1)}") # different reference
print(f"new id : {id(new)} new2 id : {id(new2)}") # same reference

new id : 139395755737984 new1 id : 139395758660928
new id : 139395755737984 new1 id : 139395755737984

In [ ]:
new1.clear() # removes everything from new without deleting it
print(new1)

{}

### Challenge: Find Frequency of Characters in a String

In [ ]:
s = input("Enter a String: ".lower())
freq = {}
for i in s:
  if i != " ":
    if i in freq:
      freq[i] += 1
    else:
      freq[i] = 1
  else:
    continue
print(freq)

enter a string: this is a string
{'t': 2, 'h': 1, 'i': 3, 's': 3, 'a': 1, 'r': 1, 'n': 1, 'g': 1}

## Sets

        1. are unique collections
        2. are unindexed
        3. are mutable
        4. are iterable?
        5. are unordered

In [ ]:
s = set([1,2,3,4,5,5]) # either use set( function that takes an iterable as argument)
print(f"{s} ---> {type(s)}")# covnerts it into a set, values are unique dont repeat themselves.

{1, 2, 3, 4, 5} ---> <class 'set'>

In [ ]:
s = {1,2,3,4,5,5} # can be created using parenthisis, it is from where, keys in dict inherit thier "unique" charateristic froms ets.
print(f"{s} ---> {type(s)}")

{1, 2, 3, 4, 5} ---> <class 'set'>

In [ ]:
s = {} # this creates a dictionary not a set.
print(f"{s} ---> {type(s)}")
s = set() # use this to create an empty set if ever needed.
print(f"{s} ---> {type(s)}")

{} ---> <class 'dict'>
set() ---> <class 'set'>

In [ ]:
s = {1,2,3,4,5,5}
for i in s:
  pass
#  s[i]  throws an error, since sets are not indexable
# either print them, or convert them to list to iterate them.itertion is possible but indexing is not

### Updation

In [ ]:
# can be done via add or update
s = {1,2,3,4,5}
print(f"s = {s}")
s.add(8) # adds to the end of the set. use when only 1 addition needed
print(f"s = {s}")

s = {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5, 8}

In [ ]:
# update(iterable)
l = [1,2,3,4]
s = {5,6,7,8}
print(f"s = {s}")
s.update(l)
print(f"s = {s}")

s = {8, 5, 6, 7}
s = {1, 2, 3, 4, 5, 6, 7, 8}

### Deletion

In [ ]:
# deletion, pop and remove
s = {1001, 99, 1, 9999, 3000}

In [ ]:
for i in list(s):
  print(f"s = {s}, s.pop() --> {s.pop()}")  # Arbitrary means any element chosen without a fixed rule or guarantee.
  #It is not random, and it is not predictable — just not specified

s = {1, 99, 3000, 1001, 9999}, s.pop() --> 1
s = {99, 3000, 1001, 9999}, s.pop() --> 99
s = {3000, 1001, 9999}, s.pop() --> 3000
s = {1001, 9999}, s.pop() --> 1001
s = {9999}, s.pop() --> 9999

In [ ]:
#we can also use remove to specify what we want gone from the set
s = {1001, 99, 1, 9999, 3000}
s.remove(1001)
print(f" s = {s}")

 s = {1, 99, 3000, 9999}

### Union Intersection and Difference in Sets

In [ ]:
s1 = {1001, 99, 1, 9999, 3000}
s2 = {3001, 99, 1, 1999, 4000}
print(s1.intersection(s2)) # returns the common in both

{1, 99}

In [ ]:
s1 = {1001, 99, 1, 9999, 3000}
s2 = {3001, 99, 1, 1999, 4000}
print(s1.union(s2)) # returns the combination of both

{4000, 1, 99, 1001, 9999, 1999, 3000, 3001}

In [ ]:
s1 = {1001, 99, 1, 9999, 3000}
s2 = {3001, 99, 1, 1999, 4000}
print(s1.difference(s2)) # removes the common, returns the rest

{3000, 1001, 9999}

### Challenge, Find the Unique Words

In [ ]:
s1 = {"this","is","a","joke"}
s2 = {"this", "is", "not", "a", "joke"}
print(f"{s1} - {s2} U {s2} - {s1}")
print("\n")
print(f"{(s1.difference(s2))} U {s2.difference(s1)}",end = " ---> ")
print((s1.difference(s2)).union(s2.difference(s1)))

# or just use symmetric difference print(s1 ^ s2) or s1.symmetric_difference(s2)

{'this', 'is', 'a', 'joke'} - {'this', 'is', 'a', 'not', 'joke'} U {'this', 'is', 'a', 'not', 'joke'} - {'this', 'is', 'a', 'joke'}


set() U {'not'} ---> {'not'}

{'not'}

In [ ]:
sets = {3, 4, 5}
sets = sets.union({1, 2, 3})
print(sets)

{1, 2, 3, 4, 5}

## Functions

        Functions are user defined piece of code, only executes when called by the user, in code, or in another function.

        It is reusebale piece of code which reduces redundancy and helps avoid errors in the code

        Makes code more managaebale and organzied

        Functions have two types.

        1. User defined
        2. Built in

### Defining a Function

In [ ]:
# defining is def followed by function name which then passes a set of arguments
def funcName (arguments=0):

  #this here is functions body. whatever is placed here will repeat itself.
  print("Hello Function!",arguments)

# any function built in or user defined needs a triger, refered to as calling the function, or function call
funcName() # this is  a way to call a function

# function also have a type, they are also treated as object, if defined by users.
print(type(funcName))
type(funcName)

Hello Function! 0
<class 'function'>

function

### Docstrings

In [ ]:
def func (arguments=0):
  """
  this is function docstring
  u can elabrate what parameters are
  and what is expected output
  anything here is shown in the docstrings of the function
  """

  pass
help(func) # use this when u want to list docstrins

Help on function func in module __main__:

func(arguments=0)
    this is function docstring
    u can elabrate what parameters are
    and what is expected output
    anything here is shown in the docstrings of the function

### Parameters

In [ ]:
# parameters are placeholders in a function, they are replaced by actual values while function is called
# during function call they are called arguments.
# at the time of defineing, they are parameters.

def func (a,b): # a and b here are arguments which will be replaced by actual value,
  return a+b

print(func(1,2)) # they are argument here
# we cant miss an argument untill there is a default value given to the place holder.

# print(func(1))  <-- calling it without a default value raises a TypeError, func() missing 1 required positional argument: 'b'

def func (a = 1,b = 2): # we give default values to both. in case any one is missing
  return a+b
  print("will not be executed")
print(func())  # <-- no error if any one is missing

3
3

### Return

In [ ]:
# this is what ends a function
# it returns a value/ an object to the point from where it is called.
# returns the flow back to the point of call
# the code after return is not exected
# if there is no return, assigning a function's result to a variable, assigns None  instead of a value

print(func(1,5))

# a function cal also return multiple variables.
def intro(a,b,c):
  return a,b,c
a ,b ,c = intro(1,"string",3.0)
print(a,b,c)
print(type(a))
print(type(b),"\n",type(c))

d = intro(1,"string",3.0)
print(d,type(d))

6
1 string 3.0
<class 'int'>
<class 'str'>
 <class 'float'>
(1, 'string', 3.0) <class 'tuple'>

### Scope of Variables

In [ ]:
# Types of Variable
# global / local
# global accessible everywhere. as if i define a variable in the first cell of the notebook, and read it here
print(global_var)

# a local variable is the one confined within a scope lets say we define a var inside function:
def func (a):
  prod = a * a
  return prod

# print(prod) # <--- prod here is undefined and raises a nameerror

this is defined in the 1st cell of the notebook

In [ ]:
# using a global var inside a function
count = 0
def func(a,b):
  for i in range(b):
    global count
    a *= 5
    count += 1 # to change a global variable we need to specify it as global
  print(a , count)
func(10,5)

31250 5

In [ ]:
# multiple assignments
a = 5 # global a
def prina2():
    print(a)
def prina():
  a = 20 # local a
  prina2() # call to actual function, goes to defination, checks if there is an a, doesnt found within scope,
  # checks one lvl up outside the defination, not the place it is called at. prints a = 5, global

prina() # when called the print within the fuction searches for the a in side its scope. it prints the first one it finds.
print(a) # checks only the outer scope. and finds global a
prina2()

5
5
5

### Lambda Function

In [ ]:
# is used as a name less function.
#instead of proper defination we do this
lambda a , b: print(a**b) # <-- is a short definatation, multiple ways to use a lamba function.

In [ ]:
(lambda a , b: print(a**b))(4,5)

1024

In [ ]:
func = lambda a , b: print(a**b)
func(4,5)

1024

In [ ]:
#using conditions in lamda function
(lambda a,b: a if a>b else b)(4,5)
# so from what i understood, lambda is just another notation to define functions, its just shorter, like arrow functions in javascript
# its shorter and quicker to define function using lambda.

5

### Challenge 1: Print Even Numbers

      write a functions to print even numbers from the list.
      input[1,2,3,4,5,6]
      output 2 4 6

In [ ]:
def print_even(l):
  for i in l:
    if i%2==0:
      print(i, end=" ")
    else:
      continue
inp = [1,2,3,4,5,6]
print_even(inp)

2 4 6

### Challenge 2: Return List with Unique Numbers

      write a functions that takes a list and returns a list with unique numbers
      input[1,2,3,1,2,4]
      output[1,2,3,4]

In [ ]:
def unique_num(l):
  return list(set(l))
l = [1,2,3,1,2,4]
l = unique_num(l)
print(l)

[1, 2, 3, 4]

###Arguments Vs Parameters Vs Positional Arguments Vs Default Arguments
      The placeholder values added while defining a function are Parameters

      The actual values passed while calling a function are Arguments

      Positional Arguments: when we define a function, we keep a certain order of parameters, and when
      calling the function, the arguments must be passed in that same order — regardless of their
      data type. Python will assign the first argument to the first parameter, the second to the second,
      and so on, purely based on position

      Default Arguments: a practice which can save positional argument errors, is while defining,
      we can give a dummy value to are parameters, if at the time of calling, the values is somehow
      missed the function uses default value for comutation and returns the result without
      raising an error.

In [ ]:
# Parameters: Defined inside the function definition
def greet(name, age):  # 'name' and 'age' are parameters
    print(f"{name} is {age} years old.")

# Arguments: Actual values passed during the function call
greet("Ali", 25)  # "Ali" and 25 are arguments

Ali is 25 years old.

In [ ]:

# Positional Arguments: Arguments are matched by their position in the function call
def display_info(city, country):
    print(f"City: {city}")
    print(f"Country: {country}")

print("\nCorrect")
# Correct order of positional arguments
display_info("Lahore", "Pakistan")  # 'city' = Lahore, 'country' = Pakistan

print("\nIncorrect Logically")
# Incorrect order but still valid syntax-wise
display_info("Pakistan", "Lahore")  # 'city' = Pakistan, 'country' = Lahore (logically incorrect but no error)

Correct
City: Lahore
Country: Pakistan

Incorrect Logically
City: Pakistan
Country: Lahore

In [ ]:
def greet(name="Zeeshan",age=22): # make sure once you give a default value to name, which is in code before age,
#you have to give it to every other parameter after name. or its an syntax error def greet(name="Zeeshan",age):  <--- raises an syntax error def greet(name,age=22) <-- is valid
# def greet(name,age=22,height) <-- is invalid.
  print(f"{name} is {age} years old.")

greet() # works with zero positional arguments

Zeeshan is 22 years old.

### Arbitrary Arguments

        1. when the number of arguments not defined
        2. like we can pass multiple arguments to print function, without any defined limit
        3. the values are being stored in tuple

In [ ]:
def func(*args): # <-- right anything after the *, it shows different arguments being passed, separated by the comma.
  print(args) # <-- args is now a tuple, anything it is will be printed as it is, no matter how many different things are passed
func()
func(None)
func(2)
func(2,3,4)
func([2,3,4])

()
(None,)
(2,)
(2, 3, 4)
([2, 3, 4],)

In [ ]:
def func(*args): # <-- right anything after the *, it shows different arguments being passed, separated by the comma.
  for i in args:
    print(i, end = " ")
  print()

func()
func(None)
func(2)
func(2,3,4)
func([2,3,4])

None
2
2 3 4
[2, 3, 4]

### Keywords Arguments

    1. variable number of keywod arguments
    2. data is stored in a dictionary format

In [ ]:
def func(**kwargs): # <-- ** is the main thing, kwargs is just a general convention, ** tell that u can pass multiple keyworded arguments
  print(kwargs)

func() #<- returns an empty dictionary
func(name = "zeeshan",age=25) #<- returns an dictionary

{}
{'name': 'zeeshan', 'age': 25}

In [ ]:
def func(**kwargs): # <-- ** is the main thing, kwargs is just a general convention, ** tell that u can pass multiple keyworded arguments

  for k, v in kwargs.items():
    print(f"{k} = {v}")


func() #<- returns an empty dictionary
func(name = "zeeshan",age=25) #<- returns an dictionary

name = zeeshan
age = 25

### Using args and kwargs togather

In [ ]:
# following the same convention of defaut value are followed by non default we have args and kwards
def func(*args,**kwargs):
  for i in args:
    print(i , end =  " ")
  for i in kwargs.values():
    print(i ,  end =  " ")


# func(1,2,3,4,5,a="o",e="i",6) <-- raises an error
func(1,2,3,4,5,a="o",e="i")
# note: sinc pre defined functions follow the *args,**kwargs order, thats why default follow non default
# ❌ This will raise a SyntaxError:
# def func(**kwargs, *args):
#     pass

# Correct order is:
# def func(*args, **kwargs):

1 2 3 4 5 o i

## Object Oriented Programming OOP
        has 4 pillars
        1. Encapsulation
        2. Abstraction
        3. Polymorphism
        4. Inheritance

        and 2 main components
        1. class
        2. objects

        Classes have attributes and behaviors:
        1. **Attributes**: The data or properties that belong to a class (e.g., name, age).
        2. **Behaviors**: The actions the class can perform (methods/functions).

        ### Abstraction
        The process of hiding unnecessary details and showing only essential information to the user.

        ### Inheritance
        Creating a new class from an existing class.  
        The original class is the **parent (base)** class, and the new class is the **child (derived)** class.  
        Example: A `Shape` class → `Circle` and `Square` as child classes.

        ### Polymorphism
        The ability of different classes to respond to the same method in different ways.  
        Example: A method `draw()` might behave differently for a `Circle` and a `Square`.

        ### Encapsulation
        The concept of wrapping data (attributes) and methods (functions) into a single unit—typically a class.  
        This helps in data hiding and protecting the internal state of the object.

### Creating Classes and Objects

In [ ]:
class Car: # Creates a class named Car
  pass

car_object = Car() # creates an object of class Car.
type(car_object)

__main__.Car

### Constructor

In [ ]:
# methods which definbe the structure of an object, which work in creation of an object, or are called to create an object
# it executes ehenever an object of a class is called.
# defined inside a class
class Car:

  # we use __ double underscore or dunder followed by init as in initailize, pass an argument self and again dunder
  def __init__(self): # self: it's a reference to the current instance of the class.
    print("This always executes when an object of respective class is created")


# bmw = Car()

# we can also assign different kind of properties to an object using constructor
# for a car there are doors and brand and price.
class Car:
  def __init__(self, brand = "", doors  = 0, price = 0):
    self.brand = brand
    self.doors = doors
    self.price = price
bmw = Car()

print(bmw.brand)
print(bmw.doors)
print(bmw.price)

0
0

### Class Methods

In [ ]:
# classes do have some built in methods, yet we can create some methods of our own.

# Built-in method: mro() – shows class resolution order
print(Car.mro())  # [<class '__main__.Car'>, <class 'object'>]
builtin = [x for x in dir(Car) if x.startswith("__")]
print(builtin)

[<class '__main__.Car'>, <class 'object'>]
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__']

In [ ]:
# User defined methods
#  Unlike constructors, we have to call these methods ourselves to invoke them.


class Car:
  def __init__(self, brand, doors, price): # These variables (brand, doors, price) are instance variables.
                                          # Every object of the Car class will have its own copy of these.
    self.brand = brand
    self.doors = doors
    self.price = price

  def intro(self):
    print(f"This car comes from {self.brand}, has {self.doors} doors, and is priced at {self.price}$")


  def change_price(self,p):
    old = self.price
    self.price = p
    print(f"Price updated from {old} to {self.price}")

bmw = Car("BMW",4,150000)

bmw.intro()
bmw.change_price(134000)

user_def = [x for x in dir(Car) if  not x.startswith("__")]
print(user_def)

This car comes from BMW, has 4 doors, and is priced at 150000$
Price updated from 150000 to 134000
['change_price', 'intro']

### Class Variables

In [ ]:
# These are class variables shared across all instances.
# Accessed using the class name (Car.population), not through self

class Car:

  population = 0
  data = []


  def __init__(self, name ,brand, doors, price): # all these variables will be for every instance or object created for class Car.
    self.name = name
    self.brand = brand
    self.doors = doors
    self.price = price
    Car.population += 1 # increase when ever a new car is added.
    Car.data.append(self.name)

  def intro(self):
    print(f"This car comes from {self.brand}, has {self.doors} doors, and is priced at {self.price}$")


  def change_price(self,p):
    old = self.price
    self.price = p
    print(f"Price updated from {old} to {self.price}")



  @classmethod # used to define a method for class not objects.
  def get_population(cls):
    return cls.population



bmw = Car("Z3", "BMW", 4, 150000)
merc = Car("CL300", "Mercedes", 2, 160000)
honda = Car("Civic", "Honda", 4, 50000)

# print(Car.population) # or define a function for a class as done above
print("Total Cars Created:", Car.get_population())
print("All Car Names:", Car.data)

Total Cars Created: 3
All Car Names: ['Z3', 'CL300', 'Civic']

### Inheritance

In [ ]:
# is like creating a sub class, or a derived class which gets its attributes and methods from the base class.
# derived class gets access to all the inherited methods, varibales and attributes.
# used to increase reuseablity in the code.


class Car: # base class

  population = 0
  data = []


  def __init__(self, name ,brand, doors, price): # all these variables will be for every instance or object created for class Car.
    self.name = name
    self.brand = brand
    self.doors = doors
    self.price = price
    Car.population += 1 # increase when ever a new car is added.
    if self.__class__ == Car:
      Car.data.append(self.name)

  def intro(self):
    print(f"{self.name} comes from {self.brand}, has {self.doors} doors, and is priced at {self.price}$")


  def change_price(self,p):
    old = self.price
    self.price = p
    print(f"Price updated from {old} to {self.price}")



  @classmethod # used to define a method for class not objects.
  def get_population(cls):
    return cls.population


# to create a derived class we just do this.
class Sedan(Car):

  data = []

  def __init__(self, name, brand, doors, price, luxury_rating,trunk_space):
    super().__init__(name,brand,doors,price)
    self.luxury_rating = luxury_rating
    self.trunk_space = trunk_space
    Sedan.data.append(self.name)

  def comfort_level(self):
    if self.luxury_rating < 75 and self.luxury_rating > 60 :
      return "good"
    elif self.luxury_rating > 75:
      return "Legendary"
    else:
      return "bad"

  def intro(self):
    super().intro()  # call Car's intro, - `super()` lets us call the parent class’s version of a method (e.g., the base `.intro()`),
    #which we can then extend or modify in the child.

    print("This is a luxury sedan.")  # add more

Porche = Sedan("Z3_s", "BMW", 4, 150000,78,"max") # so every thing in class cars has been inherited by Class Sedan, the class variable, methods, instance methods, and the attributes
bmw = Car("Z3_c", "BMW", 4, 150000)
Porche.intro()
Porche.change_price(10000000)
Sedan.get_population()
print(Sedan.get_population()) #The method get_population() is inherited from Car, so it accesses Car.population.
# If we want to track Sedan objects separately, we need to define a new Sedan.population variable and override the method.
print(Porche.comfort_level())

print("Car Base Class attributes for an instance" , bmw.__dict__) # to show that only derived class would have new attributes, main class remain the same
print("Sedan Sub  Class attributes for an instance", Porche.__dict__)

# derived get everything they inherited and what they created, bas e doesnt get what is created in derived.

Z3_s comes from BMW, has 4 doors, and is priced at 150000$
This is a luxury sedan.
Price updated from 150000 to 10000000
2
Legendary
Car Base Class attributes for an instance {'name': 'Z3_c', 'brand': 'BMW', 'doors': 4, 'price': 150000}
Sedan Sub  Class attributes for an instance {'name': 'Z3_s', 'brand': 'BMW', 'doors': 4, 'price': 10000000, 'luxury_rating': 78, 'trunk_space': 'max'}

In [ ]:
print(Sedan.data)
print(Car.data)

['Z3_s']
['Z3_c']

### Polymorphism
        1. polymorphism means having many forms
        2. the way a class behaves differently for different objects.
      Has two Types,
        1. Function level polymorphism
        2. Operator level polymorphism

#### Operator Level Polymorphism
     just like '+' works differently for strings(concat) and integers(add)
     is a classic example of operator lvl Polymorphism

In [ ]:
print(210+10)
print("210"+"10")
# print("210"+0)  raises a type error

220
21010

In [ ]:
#similarly *
print("repeat " *5)
print(5 *5)
# print("repeat" * "repeat")  raises type error

repeat repeat repeat repeat repeat
25

#### Function Level Polymorphism
       just like operators there are some functions that work differently for differetn type of objects.
       len, sum, custom

In [ ]:
print(len([1,2,3,4,5,6]))
print(len("strijng"))

6
7



```
def intro(self):
    super().intro()  
    print("This is a luxury sedan.")  
```
is functional lvl polymorphism, intro behaves different for base and derived class

### Dunder Methods in Python
      Dunder (Double UNDerscore) methods are special methods that begin and end with double underscores.
      They allow Python classes to interact with built-in functions and operators.

In [ ]:
class Book:
    def __init__(self, title, pages):
        self.title = title
        self.pages = pages

    def __str__(self):
        return f"{self.title} - {self.pages} pages"

    def __repr__(self):
        return f"Book('{self.title}', {self.pages})"

    def __eq__(self, other):
        return s lf.pages == other.pages

b1 = Book("Python 101", 300)
b2 = Book("Learn Python", 300)

print(str(b1))      # Python 101 - 300 pages
print(repr(b1))     # Book('Python 101', 300)
print(b1 == b2)     # True opeartor lvl polymorphism

Python 101 - 300 pages
Book('Python 101', 300)
True

## File Handling
      files are used to store data on the disk.
      its like a place to store data, in a specific format
      which can be fecthed and read at any time needed.
      we can always keep data in main memory so we save it in files
      in secondary memeory

      Two Types of file:
      1. text
      2. binary

### Opening a File
      we use open() to open a file.
      we need to assign it to a handler or a variable.
      opening a file with 'w' or 'a' also creates a file, if none found, read
      searches for a file and returns and error stating file not found.

In [ ]:
f = open("file.txt", 'w') # opens a file 'w' in case file doesnt exist, it creates one. default is 'r', read  only.
print(f.read()) # reads the data in the file
print("is the file closed: ", f.closed) #bool on files status, closed or opened
f.close() # Close the File
print("is the file closed: ", f.closed) #bool on files status, closed or opened

Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ducimus pariatur numquam quam sit quos ex deleniti soluta. Voluptatibus neque quis eaque cum facilis tempore iusto eius, impedit non sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ducimus pariatur numquam quam sit quos ex deleniti soluta. Voluptatibus neque quis eaque cum facilis tempore iusto eius, impedit non sequi.    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis blanditiis, nam voluptate ratione velit doloremque totam expedita eveniet ullam, autem error, laudantium in architecto. Placeat error dolore voluptatem minima natus
is the file closed:  False
is the file closed:  True

#### Modes of Opening a file
        1. 'r' read only
        2. 'w' write only
        3. 'a' appending data at the end of the file
        4. 'wt' write text
        5. 'wb' write binary
        6. 'rt' read text
        7. 'rb' read binary

In [ ]:
# f.write("new text")  will raise an error, f is not writeable, we need to open is the proper way to write into it
f = open("file.txt",'w') # removes anything else written and then writes from the start, doesnt add, overwrites.
# f.read() would return not readable error
f.write("\nNow the file is writeable") # also return the number of char's wriiten to the file
f.close()

In [ ]:
f = open("file.txt",'a') # writes to the end of file
# f.read() would return not readable error
f.write("\n written at the end ") # also return the number of char's wriiten to the file
f.close()

### Memory Leaks and Prevention
        if a file is opened and left open will cause a memory leak,
        a file must be closed so that it can stop using memory.
        we use 'with'

In [ ]:
with open("file.txt", 'w') as f:
  print(f.write("new line added"),"chars written to the file")

print("is the file closed: ", f.closed) #bool on files status, closed or opened

14 chars written to the file
is the file closed:  True

In [ ]:
with open("file.txt") as f:
  print( f.read())

print("is the file closed: ", f.closed) #bool on files status, closed or opened

new line added
is the file closed:  True

### Reading A File
      there are multiple way to read a file and also some methods which help in the reading
      process.
      1. read()
      2. read(i) read till length i
      3. read(-1) read till the end
      4. tell() tells about the position of file handler
      5. seek() helps  reposition of file handler
      6. readline() read data line by line

In [ ]:
with open("file.txt", 'w') as f:
  for i in range(10):
    f.write(f"{i+1}. new line\n")

In [ ]:
with open("file.txt",'r') as f:
  print(f.read(-1))



with open("file.txt",'r') as f:
  data = f.readlines()
  print(data)
  # print(f.readlines(5))

1. new line
2. new line
3. new line
4. new line
5. new line
6. new line
7. new line
8. new line
9. new line
10. new line

['1. new line\n', '2. new line\n', '3. new line\n', '4. new line\n', '5. new line\n', '6. new line\n', '7. new line\n', '8. new line\n', '9. new line\n', '10. new line\n']

In [ ]:
# with open("img.jpeg",'rb') as f:
#   f.read()
# work for images but reads the binary of an image not the image itself.
# copying data
with open("file.txt", 'rt') as f:
  data = f.read()

  with open('new.txt', 'wt') as d:
    d.write(data)

  with open('new.txt', 'rt') as d:
    print("\ndata from new.txt\n", d.read())

data from new.txt
 1. new line
2. new line
3. new line
4. new line
5. new line
6. new line
7. new line
8. new line
9. new line
10. new line

## Exception Handling
      compilation of code can halt due to the errors in it.
      there are 3 types of error, runtime, logical and syntax.
      logical errors are more like exceptions, they sometimes wont
      halt the code, rather would compute a faulty output.

      mostly errors are syntax based errors, but some errors still
      occurs even when the syntax is not right, are call exceptions

      we use handling to stop the breaking of the flow of the code in case of error or exceptions.
      like ignoring an error if it occurs and continuing with the rest of the code

### Errors in Python
      Errors in python are much more then the basic 3.
      1. Syntax Error
      2. Type Error
      3. Name Error
      4. Indentation Error
      5. Index Error
      6. File Not Found
      7. Zero Divison Error
      The list goes on, the one listed are most occuring one

In [ ]:
l = [x for x in dir(__builtins__) if 'Error' in x]
print("There are ",len(l), " Errors in python")
l

There are  48  Errors in python

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'EOFError',
 'EnvironmentError',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'IOError',
 'ImportError',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'NotADirectoryError',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'RuntimeError',
 'SyntaxError',
 'SystemError',
 'TabError',
 'TimeoutError',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'ValueError',
 'ZeroDivisionError']

### Try And Except And Finally
      

    1. try: this block check in case there is any error in the code
    2. except: this block return an error specified if the code is faulty
    3. finally: This part is always executed. can be used for memmory de allocation, like closing files

In [ ]:
try:
  print("Before Error")
  print(2 +'2') # flow stops after an error occurs in try block
  print(4/0) # this error wont be found untill the above one is removed, or keeps occuring
  print("After Error") # will be skipped
except Exception as e: # this can have anything, but this is a way to return as exception,
# we let the code run, flow doesnt break and error is printed

  print("the above code has error -->"  , e)
finally:
  print("this executes either way, error or not doesnt stop")

Before Error
the above code has error --> unsupported operand type(s) for +: 'int' and 'str'
this executes either way, error or not doesnt stop